body{
    font-family: Roboto;
    font-style: normal;
  }
  
  h2,h3,h4{
    color: #00224E;
  }
  
  p{
    color:#343434
  }

  .hrblue{
    background-color: #00224E;
    border: 3px solid #00224E;
  }
  
  .hrwhite{ 
    background-color: white;
    border: 3px solid white;
  }

  .hrgrey{
      background-color: #f4f4f4;
      border: 2px solid #f4f4f4;
  }

  .btn-primary{
    width: 100px;
    height: 30px;
    background-color: #00224E;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    vertical-align: middle;
   }
   
   .btn-primary:hover{
     background-color: #02316e;
   }
   
   .button{
     text-align: center;
   }
   
   .btn-lg{
     width: 250px;
     height: 60px;
     font-size: 18px;
    
   }
   
   .btn-lg:hover{
     background-color: #02316e;
   }

   .Covidheading{
    font-weight:700;
    font-size: 25px;
    color: #00224E;
    align-items: center;
    
   }
  
   h4{
       font-size: 19px;
       font-weight: bold;
   }

   
  @keyframes glowing {
    0% {
      background-color: #D14900;
      box-shadow: 0 0 2px #D14900;
    }
    50% {
      background-color: #ec5604;
      box-shadow: 0 0 8px #ec5604;
    }
    100% {
      background-color: #D14900;
      box-shadow: 0 0 2px #D14900;
    }
  }
  .glowingbutton {
      float: right;
      color: white;
    animation: glowing 1300ms infinite;

  }