body{
    font-family: Roboto;
    font-style: normal;
  }

  nav {
    background-color: #00224e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  }
  
  .nav-link {
    font-size: 16px;
    color: #fff !important;
    margin: 0 20px;
  }
  
  #searchInput{ 
    width: 100%; 
    height: 36px;
    border: 1px solid #234F8C;
    border-radius: 0px !important;
  } 
  
  #searchBtn { 
    border: none; 
    cursor: pointer; 
    color: white; 
    background-color: #234F8C; 
    width: 36px; 
    height: 36px;
  } 
  
  @media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
  
    .nav-link {
        margin: 5px 0;
    }
  }
  
  .nav-link:hover {
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
  
  .carousel-image{
      height: 450px;
      object-fit: cover;
      filter: brightness(50%);
      
  }
  .carousel-caption{
  text-align: center;  
  top: 40%;
  
  position: absolute;
  
  
  }
  
  .hello{
     background-color: blue;
  }
  
  .heading{
      font-weight: 700;
  }
  
  .mysidebar{
    margin-top: 30px;
  }
  
    
  @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
  }
  .container{
    margin-top: 80px;
    align-items: baseline;
  }
  
  .list-group-item{
    padding: 5px;
    border: 0;
  }
  
  .hrblue{
    background-color: #00224E;
    border: 3px solid #00224E;
  }
  
  .hrwhite{ 
    background-color: white;
    border: 3px solid white;
  }
  
  .card{
    width:100%;
    height: 170px;
    border: none;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
   }
  
  .card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  }
  @media screen and (max-width: 578px) {
  .card{
    height: auto;
  }
  
  .card-img{
      display: none;
    }
  
  }
  
  .card-img{
    object-fit: cover;
    width: 230px;
    height:170px;
    padding: 10px;
    border-radius: 18px;
  }
  .my-img{
    object-fit: cover;
    padding: 10px;
    border-radius: 18px;
  }
  
  .card-block{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .card-title{
    font-weight: bold;
    font-size: 16px;
  }
  .card-text{
   font-size: 12px;
  }
  
  .card-footer{
    border: none;
    padding: 0px;
    padding-top: 10px;
    background-color:#F4F4F4;
    margin-top: auto;
  }
  
  .btn-primary{
   width: 100px;
   height: 30px;
   background-color: #00224E;
   border-radius: 4px;
   border: none;
   font-size: 14px;
   vertical-align: middle;
  
  }
  
  .btn-primary:hover{
    background-color: #02316e;
  }
  
  .button{
    text-align: center;
  }
  
  .second-nav {
    margin-top: 6%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    box-shadow: 2px 1px #000;
  }
  .second-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  .second-nav__item {
    display: inline-block;
    margin: 0 16px;
  }
  .second-nav__item a {
    text-decoration: none;
    color: #000000;
    padding: 3px 0;
    font-size: 18px;
  }
  @media (min-width: 992px) {
    .dropdown {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .second-nav {
      display: none;
    }
  }
  
  h2,h3,h4{
    color: #00224E;
  }
  
  p{
    color:#343434
  }
  
  .carousel-image{
      height: 450px;
      object-fit: cover;
      filter: brightness(50%);
      
  }
  .carousel-caption{
  text-align: center;  
  top: 40%;
  
  position: absolute;
  
  
  }

  .gHead {
    font-weight:700;
    font-size: 25px;
    color: #00224E;
    margin: 30px;
    margin-left: 0;
}
  
  .heading{
      font-weight: 700;
  }
  
  .container{
    align-items: baseline;
  }
  
  .list-group-item{
    padding: 5px;
    border: 0;
  }
  
  .hrblue{
    background-color: #00224E;
    border: 3px solid #00224E;
  }

.gAlumniText {
    text-align: justify;
}

footer {
  width: 100%;
  height: 30%;
  background: #343434;
  color: white;
}
.social {
  text-align: center;
  margin-top: 3%;
  display: inline;
  text-align: center;
}
.icons,
.icons i {
  padding-left: 16px;
  padding-left: 16px;
  text-align: center;
}

.carousel-image {
  height: 450px;
  object-fit: cover;
  filter: brightness(50%);
}
.carousel-caption {
  text-align: center;
  top: 40%;

  position: absolute;
}

.btn-primary {
  width: 100px;
  height: 30px;
  background-color: #00224e;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  vertical-align: middle;
}
.btn-primary:hover {
  background-color: #02316e;
}
.card-footer {
  border: none;
  padding: 0px;
  padding-top: 10px;
  background-color: #f4f4f4;
  margin-top: auto;
}
.card-text {
  font-size: 14px;
}

.branches {
  border-right: 2px solid #00224e;

  font-weight: bold;
  width: fit-content;
  text-align: center;
}

footer h4 {
  color: #ffffff;
}