body{
    height: 100%;
    width: 100%;
}

.container{
    width: 60%;
    height: 100%;
    margin-top: 75px;
}

.heading{
    width: 141px;
    height: 51px; 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 47px;
    color: #00224E;
    margin-left:30px;
    float:left;
    display: inline;
}

.dropdown-select {
    float:right;
    display: inline;
    margin-top: 10px;
    margin-right: 10px;
    padding: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #00224E;
}

.btn-group{
    margin-left: 30px;
    float:left;
    display: inline;
}

  .bstyle {
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    padding-left:0%;
    padding-right:0%;
    padding-bottom: 6px;
    color: #00224E;
    text-align:center;
}

.bstyle:active{
    border-bottom: 2px solid #00224E;
}


.card{
    border: none;
    border-radius: 10px;
    background-color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;

}

.card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}

.card-img{
width: 150px;
height: 200px;
border-radius: 10px;
}

.card-month {
    margin-top:10px;
    margin-left: 10px;
}

.card-month{
    position: relative;
    top: 30%;
    left: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;

}

.card-date{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto 500px;
}

.item1 {
    grid-row: 1 / span 2;
    text-align: center;
    margin-right: 20px;
}

.item2 {
    grid-row: 1 / span 2;
    margin-left: 20px;
    margin-right: 20px;
}

.item3 {
    position: relative;
    word-wrap: break-word;
    height: 40px;
    margin-top: 8px;
    margin-right: 8px;
}

.item4 {
    margin-top: 10px;
    margin-right: 8px;
}
.card-title{
    width: 763px;
    height: 82px;
    top: 40px;
    left: 397px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: #00224E;
}



nav {
    background-color: #00224e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  }
  
  .nav-link {
    font-size: 16px;
    color: #fff !important;
    margin: 0 20px;
  }
  
  #searchInput{ 
    width: 100%; 
    height: 36px;
    border: 1px solid #234F8C;
    border-radius: 0px !important;
  } 
  
  #searchBtn { 
    border: none; 
    cursor: pointer; 
    color: white; 
    background-color: #234F8C; 
    width: 36px; 
    height: 36px;
  } 
  
  @media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
  
    .nav-link {
        margin: 5px 0;
    }
  }
  
  .nav-link:hover {
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }

  body{
    font-family: Roboto;
    font-style: normal;
  }
  
  h2,h3,h4{
    color: #00224E;
  }
  
  p{
    color:#343434
  }
  
  nav {
    background-color: #00224e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  }
  
  .nav-link {
    font-size: 16px;
    color: #fff !important;
    margin: 0 20px;
  }
  
  #searchInput{ 
    width: 100%; 
    height: 36px;
    border: 1px solid #234F8C;
    border-radius: 0px !important;
  } 
  
  #searchBtn { 
    border: none; 
    cursor: pointer; 
    color: white; 
    background-color: #234F8C; 
    width: 36px; 
    height: 36px;
  } 
  
  @media (max-width: 992px) {
    .navbar-nav {
        text-align: center;
    }
  
    .nav-link {
        margin: 5px 0;
    }
  }
  
  .nav-link:hover {
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
  
  .carousel-image{
      height: 450px;
      object-fit: cover;
      filter: brightness(50%);
      
  }
  .carousel-caption{
  text-align: center;  
  top: 40%;
  
  position: absolute;
  
  
  }
  
  .hello{
     background-color: blue;
  }
  
  .heading{
      font-weight: 700;
  }
  
  .mysidebar{
    margin-top: 30px;
  }
  
    
  @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
  
  }
  .container{
    margin-top: 80px;
    align-items: baseline;
  }
  
  .list-group-item{
    padding: 5px;
    border: 0;
  }
  
  .hrblue{
    background-color: #00224E;
    border: 3px solid #00224E;
  }
  
  .hrwhite{ 
    background-color: white;
    border: 3px solid white;
  }
  
  .card{
    width:100%;
    height: 170px;
    border: none;
    border-radius: 10px;
    background-color: #F4F4F4;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
   }
  
  .card:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  }
  @media screen and (max-width: 578px) {
  .card{
    height: auto;
  }
  
  .card-img{
      display: none;
    }
  
  }
  
  .card-img{
    object-fit: cover;
    width: 230px;
    height:170px;
    padding: 10px;
    border-radius: 18px;
  }
  .my-img{
    object-fit: cover;
    padding: 10px;
    border-radius: 18px;
  }
  
  .card-block{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .card-title{
    font-weight: bold;
    font-size: 16px;
  }
  .card-text{
   font-size: 12px;
  }
  
  .card-footer{
    border: none;
    padding: 0px;
    padding-top: 10px;
    background-color:#F4F4F4;
    margin-top: auto;
  }
  
  .btn-primary{
   width: 100px;
   height: 30px;
   background-color: #00224E;
   border-radius: 4px;
   border: none;
   font-size: 14px;
   vertical-align: middle;
  
  }
  
  .btn-primary:hover{
    background-color: #02316e;
  }
  
  .button{
    text-align: center;
  }
  
  .second-nav {
    margin-top: 6%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    box-shadow: 2px 1px #000;
  }
  .second-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  .second-nav__item {
    display: inline-block;
    margin: 0 16px;
  }
  .second-nav__item a {
    text-decoration: none;
    color: #000000;
    padding: 3px 0;
    font-size: 18px;
  }
  @media (min-width: 992px) {
    .dropdown {
      display: none;
    }
  }
  
  @media (max-width: 992px) {
    .second-nav {
      display: none;
    }
  }