@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0;
}

.main-header {
  width: 100%;
  position: fixed;
  height: 9.5%;
  top: 0;
  left: 0;
  background: #00224e;
  padding: 8px 16px;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-header__brand > div {
  padding-left: 5%;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 3px 0;
  font-size: 20px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.second-nav {
  margin-top: 6%;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  box-shadow: 2px 1px #000;
}
.second-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.second-nav__item {
  display: inline-block;
  margin: 0 16px;
}
.second-nav__item a {
  text-decoration: none;
  color: #000000;
  padding: 3px 0;
  font-size: 18px;
}

.caro {
  width: 100%;
  height: 50%;
  margin-bottom: 2%;
}

#events {
  width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding-top: 4%;
  padding-bottom: 4%;
}

#event {
  background-image: url('./assets/mainBg.jpg');
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 4%;
}
.card {
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
}
.blue-box {
  width: 100%;
  height: 5%;
  background-color: #00224e;
}
@media screen and (max-width: 760px) {
  .card-img {
    display: none;
  }
  .main-nav__items,
  .second-nav {
    display: none;
  }
  #button {
    display: block;
  }
}
#button {
  display: none;
}
@media screen and (max-width: 1200px) {
  .card-img {
    display: none;
  }
  #search {
    display: none;
  }
  .second-nav {
    margin-top: 10%;
  }
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 170px;
  padding: 10px;
  border-radius: 18px;
}
.scroll {
  margin-bottom: 2%;
}
.sec-head {
  display: inline;
}
.card-body {
  height: 250px;
}
.calander {
  margin-bottom: 6px;
}
.date {
  color: white;
  background-color: #00224e;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 10px;
}

footer {
  width: 100%;
  height: 30%;
  background: #343434;
  color: white;
}
.social {
  text-align: center;
  margin-top: 3%;
  display: inline;
  text-align: center;
}
.icons,
.icons i {
  padding-left: 16px;
  padding-left: 16px;
  text-align: center;
}

.carousel-image {
  height: 450px;
  object-fit: cover;
  filter: brightness(50%);
}
.carousel-caption {
  text-align: center;
  top: 40%;

  position: absolute;
}

.btn-primary {
  width: 100px;
  height: 30px;
  background-color: #00224e;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  vertical-align: middle;
}
.btn-primary:hover {
  background-color: #02316e;
}
.card-footer {
  border: none;
  padding: 0px;
  padding-top: 10px;
  background-color: #f4f4f4;
  margin-top: auto;
}
.card-text {
  font-size: 14px;
}

.branches {
  border-right: 2px solid #00224e;

  font-weight: bold;
  width: fit-content;
  text-align: center;
}
